html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
/*--------- header ---------*/

.bg-clr {
    background-color: rgba(236, 236, 236, 0.856);
    padding-top: 6px;
    
}

.list1 li a {
    font-size: 11px;
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.list1 li {
    margin-left: 18px;
}

.strong {
    font-weight: 700;
    color: #000!important;
}

ul {
    list-style: none;    
}

ul li {
    display: inline;
    margin-left: 10px;
}

.list2 li a {
    font-size: 12px;
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.textaligncenter {
    text-align: center;
    vertical-align: middle;
}

.pad .icon {
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 7px;
}

.sm {
    font-size: 12px;
    padding-left: 0;
}

.custom-pad {
    padding-top: 21px;
}

.pad {
    padding-left: 46px;
}

.nav-bg {
    background-color: #2E5797;
    justify-content: center;
    padding: 6px 0;
    /* position: fixed;
    top:0;
    width: 100%; */
    z-index: 9;
}

.nav-link {
    color: #fff!important;
    padding-left: 20px!important;
}


/*---- header end ----*/

.container2 {
    padding-left: 0;
    padding-right: 0;
    background-image: url('/images/bg_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.txt h1 {
    font-size: 48px;
    font-weight: bold;
}

.txt p {
    
    font-weight: 600;
    padding-bottom: 40px;
}

.btn1 {
    background-color: #2E5797;
    border-color: #2E5797;
    color: #fff;
    font-weight: 700;
}

.btn2 {
    background-color: #FDE428;
    border-color: #FDE428;
    color: #000;
    font-weight: 600;
    margin-left: 6px;
}

.txt {
    padding: 120px 10px 10px 0px;
}

.label {
    color: #fff;
    background-color: rgb(18%, 34%, 59%, 0.8);
    font-size: 1rem;
    line-height: 2;
    padding-left: 1rem;
    margin: 0;
    height: 2rem;
    margin-top: -2rem;
    position: relative;
}

.top-pad {
    padding-top: 90px;
}

img {
    width: 100%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}
.header-line{
    display: none;
}

.OS {
    font-weight: bolder;
    color: rgb(94, 94, 94);
    padding-top: 80px;
}

.material-icons {
    font-size: 38px !important;
    color: #2E5797;
    animation: fadeIn 4s;
}

.stg {
    font-size: 18px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    animation: fadeIn 4s;
}

.fade-in {
     animation: fadeIn 4s;
}

.fe {
    font-size: 38px;
    font-weight: bold;
}

.fc {
    font-size: 16px;
    color: #2E5797;
}

.sz {
    font-size: 13px;
    color: rgb(138, 138, 138);
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn3 {
    color: #fff;
    font-family: calibri;
    font-size: 13px !important;
    font-weight: bold !important;
    background-color: #2E5797 !important;
    padding: 10px 25px !important;
}

.content {
    padding: 80px 140px 30px 75px;
}







@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




@media only screen and (max-width: 850px) {
    .txtcenter{
        text-align: center;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 814px) {
    .header-line{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .txt h1 {
        font-size: 38px;
    }
    
    .txt p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    .pd {
        margin-bottom: 20px;
    }
}

/* @media only screen and (max-width: 1024px) {
    .content {
        padding: 20px 60px 10px 35px;
    }

    .fe {
        font-size: 28px;
        font-weight: bold;
    }
    
    .fc {
        font-size: 12px;
        color: #2E5797;
    }
    
    .sz {
        font-size: 11px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
} */